Repository esgf2-us/metagrid: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flake8

eslint:
  name: eslint
  language: system
  entry: yarn --cwd frontend precommit

flake8:
  name: flake8
  entry: flake8
  language: python
  args:
  - --config=backend/setup.cfg

Fix DATABASE_URL in .env.template
  backend-api/.env.template
Due: none

Add django-cors-headers package - Add django-cors-headers configuration to local.py for local dev (port 8000 for React) - Clean up comments in base.py
  backend-api/metagrid/config/base.py
  backend-api/metagrid/config/local.py
  backend-api/requirements.txt
Due: eslint, flake8

Add pyup badges for dependency monitoring
  backend-api/README.md
Due: none

Add argon2-cffi package for pashword hashing - https://docs.djangoproject.com/en/3.0/topics/auth/passwords/#using-argon2-with-django
  backend-api/requirements.txt
Due: eslint

Update ref directory for flake8 pre-commit config
  .pre-commit-config.yaml
Due: none

Add test.py config for unit testing
  backend/metagrid/config/test.py
Due: flake8

Remove .gitlab.ci.yml - Converting to CircleCI
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: none

Update test suite to use pytest - Update setup.cfg to use metagrid.config.test
  backend/metagrid/users/test/test_serializers.py
  backend/metagrid/users/test/test_views.py
  backend/setup.cfg
Due: flake8

Update markdown from 3.1.1 to 3.2.1
  backend/requirements.txt
Due: eslint

Update pre-commit from 2.2.0 to 2.3.0
  backend/requirements.txt
Due: eslint

Update pytest from 5.3.5 to 5.4.1
  backend/requirements.txt
Due: eslint

Update ipython from 7.11.1 to 7.13.0
  backend/requirements.txt
Due: eslint

Update mkdocs from 1.0.4 to 1.1
  backend/requirements.txt
Due: eslint

Update django-storages from 1.8.0 to 1.9.1
  backend/requirements.txt
Due: eslint

Update boto3 from 1.11.1 to 1.12.45
  backend/requirements.txt
Due: eslint

Update boto3 from 1.11.1 to 1.12.46
  backend/requirements.txt
Due: eslint

Add requests library and remove pylint-django
  backend/requirements.txt
Due: eslint

Update pytest-sugar from 0.9.2 to 0.9.3
  backend/requirements.txt
Due: eslint

Move urls.py and wsgi.py to config dir
  backend/Dockerfile
  backend/metagrid/__init__.py
  backend/metagrid/config/base.py
  backend/metagrid/config/urls.py
  backend/metagrid/config/wsgi.py
Due: flake8

Add fetch_facets method to Project model
  backend/metagrid/projects/models.py
Due: eslint, flake8

Fix port for CORS_ORIGIN_WHITELIST setting
  backend/metagrid/config/local.py
Due: flake8

Path conditions:
  eslint: any of: .+(js|jsx|ts|tsx|css|sass|less|json), but not: docs|node_modules|migrations|.git|.tox
  flake8: any of: \.py$, but not: docs|node_modules|migrations|.git|.tox
