Repository esgf2-us/metagrid: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flake8

.pre-commit-config.yaml:

exclude: "docs|node_modules|migrations|.git|.tox"
default_stages: [commit]
fail_fast: true

repos:
  # FRONTEND
  # ------------------------------------------------------------------------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: system
        files: .+(js|jsx|ts|tsx|css|sass|less|json)
        entry: yarn --cwd frontend precommit

  # BACKEND
  # ------------------------------------------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
      - id: trailing-whitespace
        files: (^|/)a/.+\.(py|html|sh|css|js)$

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        args: ["--config=backend/setup.cfg"]

  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3.7

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.730
    hooks:
      - id: mypy

Update pytz from 2019.3 to 2020.1
  backend/requirements.txt
Due: eslint

Update black character limit to 79 - Ignore postgres-data directory - Apply new black settings to repo
  backend/metagrid/projects/tests/test_models.py
  backend/metagrid/users/tests/test_views.py
  backend/pyproject.toml
  backend/wait_for_postgres.py
Due: eslint, flake8

Fix docker-compose.yml not reading .env file
  backend/docker-compose.yml
Due: none

Add fields to Project and Facet models - Add full_name and description fields to Project - Add count field to Facet
  backend/metagrid/projects/migrations/0003_auto_20200429_1735.py
  backend/metagrid/projects/models.py
Due: eslint, flake8

Remove count field from Facet model
  backend/metagrid/projects/migrations/0004_remove_facet_count.py
  backend/metagrid/projects/models.py
Due: eslint, flake8

Add FacetVariable model - This model represents each variable associated with a Facet object - It also stores the count of the variable
  backend/metagrid/projects/migrations/0005_facetvariable.py
  backend/metagrid/projects/models.py
Due: eslint, flake8

Update boto3 from 1.11.1 to 1.12.49
  backend/requirements.txt
Due: eslint

Remove FacetVariable model - Need to dynamically update using facet_url since it constantly changes
  backend/metagrid/projects/migrations/0006_delete_facetvariable.py
  backend/metagrid/projects/models.py
Due: eslint, flake8

Update .env.template - Remove quotes for POSTGRES_PASSWORD
  backend/.env.template
Due: none

Add facets_url property to ProjectSerializer
  backend/metagrid/projects/serializers.py
Due: eslint, flake8

Add pytest-cov and codecov plugins - For code coverage reports
  backend/requirements.txt
  backend/setup.cfg
Due: eslint

Add .coveragerc config
  backend/.coveragerc
Due: none

Fix projects tests - Caused by the facets_url property - Add a RelatedFactory to the ProjectFactory to resolve
  backend/metagrid/projects/tests/factories.py
  backend/metagrid/projects/tests/test_models.py
Due: eslint, flake8

Update Project model with logger warnings - Warning appears when there are no facets - Add type annotations
  backend/metagrid/projects/migrations/0007_project_facets_url.py
  backend/metagrid/projects/migrations/0008_auto_20200430_1639.py
  backend/metagrid/projects/migrations/0009_remove_project_facets_url.py
  backend/metagrid/projects/models.py
Due: eslint, flake8

Update junit_family to xunit2 for pytest
  backend/setup.cfg
Due: none

Update docker-compose postgres directory
  backend/docker-compose.yml
Due: none

Update Project model tests
  backend/metagrid/projects/tests/test_models.py
Due: eslint, flake8

Update postgres_data save dir to Home - Update .gitignore and pytest config
  backend/.gitignore
  backend/docker-compose.yml
  backend/setup.cfg
Due: none

Update boto3 from 1.11.1 to 1.13.0
  backend/requirements.txt
Due: eslint

Add tests for Project serializers
  backend/metagrid/projects/serializers.py
  backend/metagrid/projects/tests/test_serializers.py
Due: eslint, flake8

Fix facets order in facets_url property - Add order by id for Project API
  backend/metagrid/projects/models.py
  backend/metagrid/projects/views.py
Due: eslint, flake8

Update ipython from 7.11.1 to 7.14.0
  backend/requirements.txt
Due: eslint
