Repository esgf2-us/metagrid: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flake8

eslint:
  name: eslint
  language: system
  entry: yarn --cwd frontend precommit

flake8:
  name: flake8
  entry: flake8
  language: python
  args:
  - --config=backend/setup.cfg

Fix port for CORS_ORIGIN_WHITELIST setting
  backend/metagrid/config/local.py
Due: flake8

Make postgresql container data persistent - Uses volumes to store locally - https://stackoverflow.com/questions/41637505/how-to-persist-data-in-a-dockerized-postgres-database-using-volumes
  backend/docker-compose.yml
Due: none

Update boto3 from 1.11.1 to 1.12.47
  backend/requirements.txt
Due: eslint

Update .gitignore
  .gitignore
  backend/.gitignore
  frontend/.gitignore
Due: none

Add axios default baseURL - References localhost:8000, which is the default url for Django servers
  frontend/src/index.js
Due: eslint

Fix Projects app urls - Register Project model with admin
  backend/metagrid/projects/admin.py
  backend/metagrid/projects/urls.py
Due: eslint, flake8

Register Facet model wth admin
  backend/metagrid/projects/admin.py
Due: eslint, flake8

Add django-extensions package
  backend/metagrid/config/base.py
  backend/requirements.txt
Due: eslint, flake8

Use ReadOnlyModelViewSet for Project model - Remove deprecated Project views and urls - Add related_name to project FK in Facet model - Add reverse lookup field for facets in ProjectSerializer
  backend/metagrid/config/urls.py
  backend/metagrid/projects/models.py
  backend/metagrid/projects/serializers.py
  backend/metagrid/projects/urls.py
  backend/metagrid/projects/views.py
Due: eslint, flake8

Update postgres section of docker-compose - Specify the ports in case the machine already has an instance of postgres installed - This allows external access at port 5433 to the host
  backend/docker-compose.yml
Due: none

Add initial migration file - Add unique together with name and project
  backend/metagrid/projects/migrations/0001_initial.py
  backend/metagrid/projects/models.py
Due: eslint, flake8

Update Facet name field to not be unique - Add load_projects.py script to load projects and default facets
  backend/metagrid/projects/migrations/0002_auto_20200428_1609.py
  backend/metagrid/projects/models.py
  backend/scripts/load_projects.py
Due: eslint, flake8

Add README.md for scripts directory
  backend/scripts/README.md
Due: eslint

Add StringRelatedField "facets" to ProjectSerializer - Add prefetch_related() to ProjectsViewSet queryset
  backend/metagrid/projects/serializers.py
  backend/metagrid/projects/views.py
Due: eslint, flake8

Update boto3 from 1.11.1 to 1.12.48
  backend/requirements.txt
Due: eslint

Add --ignore flag to pytest
  backend/setup.cfg
Due: none

Update user tests dir name - Update imports for User model which was causing app_label issues
  backend/metagrid/users/tests/__init__.py
  backend/metagrid/users/tests/factories.py
  backend/metagrid/users/tests/test_models.py
  backend/metagrid/users/tests/test_serializers.py
  backend/metagrid/users/tests/test_urls.py
  backend/metagrid/users/tests/test_views.py
Due: eslint, flake8

Add facets_url property to Project model - Add test for Project model"s facets_url property
  backend/metagrid/projects/models.py
  backend/metagrid/projects/tests/factories.py
  backend/metagrid/projects/tests/test_models.py
Due: eslint, flake8

Update model import in UserSerializer - Issues with app_label using relative import
  backend/metagrid/users/serializers.py
Due: flake8

Add -s flag to pytest addopts for console output
  backend/setup.cfg
Due: none

Add tests for projects views and urls - Update project test factories to include Faker
  backend/metagrid/projects/tests/factories.py
  backend/metagrid/projects/tests/test_urls.py
  backend/metagrid/projects/tests/test_views.py
Due: eslint, flake8

Update pytz from 2019.3 to 2020.1
  backend/requirements.txt
Due: eslint

Path conditions:
  eslint: any of: .+(js|jsx|ts|tsx|css|sass|less|json), but not: docs|node_modules|migrations|.git|.tox
  flake8: any of: \.py$, but not: docs|node_modules|migrations|.git|.tox
