Repository esgf2-us/metagrid: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flake8

.pre-commit-config.yaml:

exclude: "docs|node_modules|migrations|.git|.tox"
default_stages: [commit]
fail_fast: true

repos:
  # FRONTEND
  # ------------------------------------------------------------------------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: system
        files: .+(js|jsx|ts|tsx|css|sass|less|json)
        entry: yarn --cwd frontend precommit

  # BACKEND
  # ------------------------------------------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
      - id: trailing-whitespace
        files: (^|/)a/.+\.(py|html|sh|css|js)$

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        args: ["--config=backend/setup.cfg"]

  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3.7

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.730
    hooks:
      - id: mypy

Add clearCart in App.jsx - Add clearCart fn as prop for Cart component - Add Alert for empty cart - Add initial download value in form of Summary component
  frontend/src/App.jsx
  frontend/src/components/Cart/Cart.test.jsx
  frontend/src/components/Cart/Summary.jsx
  frontend/src/components/Cart/index.jsx
Due: eslint

Add Popconfirm component
  frontend/src/components/Cart/index.jsx
  frontend/src/components/Feedback/Popconfirm.jsx
Due: eslint

Move .propTypes and .defaultProps to end of files - Figured out that .defaultProps doesn"t set to an instance of the function since it is defined to the function itself
  frontend/src/components/Cart/Summary.jsx
  frontend/src/components/Cart/index.jsx
  frontend/src/components/Facets/index.jsx
  frontend/src/components/Feedback/Alert.jsx
  frontend/src/components/General/Button.jsx
  frontend/src/components/General/ToolTip.jsx
  frontend/src/components/NavBar/LeftMenu.jsx
  frontend/src/components/NavBar/index.jsx
  frontend/src/components/Search/index.jsx
Due: eslint

Remove pycharm docs folder
  backend/.idea/metagrid.iml
  backend/.idea/misc.xml
  backend/.idea/modules.xml
  backend/.idea/runConfigurations/merge_production_dotenvs_in_dotenv.xml
  backend/.idea/runConfigurations/migrate.xml
  backend/.idea/runConfigurations/pytest___.xml
  backend/.idea/runConfigurations/pytest__users.xml
  backend/.idea/runConfigurations/runserver.xml
  backend/.idea/runConfigurations/runserver_plus.xml
  backend/.idea/vcs.xml
  backend/.idea/webResources.xml
  backend/docs/pycharm/configuration.rst
  backend/docs/pycharm/images/1.png
  backend/docs/pycharm/images/2.png
  backend/docs/pycharm/images/3.png
  backend/docs/pycharm/images/4.png
  backend/docs/pycharm/images/7.png
  backend/docs/pycharm/images/8.png
  backend/docs/pycharm/images/f1.png
  backend/docs/pycharm/images/f2.png
  backend/docs/pycharm/images/f3.png
  backend/docs/pycharm/images/f4.png
  backend/docs/pycharm/images/issue1.png
  backend/docs/pycharm/images/issue2.png
Due: none

Update requirements for Django 3 and Python 3.8 - Based on cookie-cutter django requirements - Make sure to install Python 3.8
  backend/requirements/base.txt
  backend/requirements/local.txt
Due: eslint

Rename docker-compose files to avoid ambiguity
  backend/docker-local.yml
  backend/docker-production.yml
Due: none

Move License file to root and remove CONTRIBUTORS.txt
  LICENSE
  backend/CONTRIBUTORS.txt
Due: none

Add comments to pyproject.toml for clarity
  backend/pyproject.toml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Add backend-api directory - Replaces backend, which is too bloated - Uses cookiecutter-django-rest as the base with updates to the latest packages - https://github.com/agconti/cookiecutter-django-rest
  backend-api/.editorconfig
  backend-api/.gitignore
  backend-api/.vscode/settings.json
  backend-api/Dockerfile
  backend-api/README.md
  backend-api/docker-compose.yml
  backend-api/docs/api/authentication.md
  backend-api/docs/api/users.md
  backend-api/docs/index.md
  backend-api/manage.py
  backend-api/metagrid/__init__.py
  backend-api/metagrid/config/__init__.py
  backend-api/metagrid/config/base.py
  backend-api/metagrid/config/local.py
  backend-api/metagrid/config/production.py
  backend-api/metagrid/urls.py
  backend-api/metagrid/users/__init__.py
  backend-api/metagrid/users/admin.py
  backend-api/metagrid/users/migrations/0001_initial.py
  backend-api/metagrid/users/migrations/0002_auto_20171227_2246.py
  backend-api/metagrid/users/migrations/__init__.py
  backend-api/metagrid/users/models.py
  backend-api/metagrid/users/permissions.py
  backend-api/metagrid/users/serializers.py
  backend-api/metagrid/users/test/__init__.py
  backend-api/metagrid/users/test/factories.py
  backend-api/metagrid/users/test/test_models.py
  backend-api/metagrid/users/test/test_serializers.py
  backend-api/metagrid/users/test/test_urls.py
  backend-api/metagrid/users/test/test_views.py
  backend-api/metagrid/users/views.py
  backend-api/metagrid/wsgi.py
  backend-api/mkdocs.yml
  backend-api/pyproject.toml
  backend-api/requirements.txt
  backend-api/setup.cfg
  backend-api/wait_for_postgres.py
Due: eslint, flake8

Remove unused badges
  backend-api/docs/index.md
Due: none

Update config files to not use django-configurations - Add comments and links to config settings - Remove django-configurations and dj-database-url packages - Add django-environ package
  backend-api/metagrid/config/__init__.py
  backend-api/metagrid/config/base.py
  backend-api/metagrid/config/local.py
  backend-api/metagrid/config/production.py
  backend-api/requirements.txt
Due: eslint, flake8

Update pytest section of setup.cfg
  backend-api/setup.cfg
Due: none

Update manage.py DJANGO_SETTINGS_MODULE
  backend-api/manage.py
Due: flake8

Fix issues with manage.py and wsgi.py setup - The way these files were configured with the cookiecutter couldn"t pick up the config files
  backend-api/manage.py
  backend-api/metagrid/wsgi.py
Due: flake8

Add ALLOWED_HOSTS to local.py
  backend-api/metagrid/config/local.py
Due: flake8

Add .env template
  backend-api/.env.template
Due: none

Update README.md
  backend-api/README.md
Due: none

Add file overview to wait_for_postgres.py
  backend-api/wait_for_postgres.py
Due: flake8

Fix README.md linting issues
  backend-api/README.md
Due: none
